{#-
  Layout with a sidebar, for all documentation pages.
  Sidebar on the left, main content on the right.
-#}

{% extends "layout.html" %}


{% block document %}
<aside data-sidebar-target="sidebar" class="grid-area-sidebar h-full fixed pt-14 xl:relative inset-y-0 left-0 z-20 xl:z-0 print:hidden overflow-y-auto transition-all transform transform-gpu -translate-x-full opacity-0 duration-300 xl:translate-x-0 xl:opacity-100">
  {% include "sidebar.html" %}
</aside>

<main
  {%- if theme_show_scrolltop|tobool %}
  data-action="scroll->scroll#showButton"
  data-scroll-target="main"
  {%- endif %}
  class="px-4 pt-14 xl:pl-fluid grid-area-main overflow-y-auto flex flex-col flex-1 h-full mx-0 md:mx-auto xl:ml-0 xl:mr-0"
>
  {%- if pagename != master_doc and theme_show_breadcrumbs|tobool %}
    {%- include "breadcrumbs.html" %}
  {% endif -%}

  <article role="main" class="flex-1">
    {% block body %}{% endblock %}
  </article>

  {%- if theme_show_prev_next|tobool %}
    {%- include "prev_next.html" %}
  {%- endif %}

  <footer>
    {% block footer %}
      {% include "footer.html" %}
    {% endblock %}
  </footer>

  {#- scroll to top button -#}
  {%- if theme_show_scrolltop|tobool -%}
    {%- include "scrolltop.html" %}
  {%- endif -%}
</main>
{% endblock %}
