/* **************************
 * ADMONITIONS
 * **************************/

blockquote {
  @apply text-sm my-5 p-4 bg-gray-50/30 border-l-4 rounded-sm shadow;
  & .attribution {
    @apply italic;
  }
}

.admonition {
  @apply text-sm my-5 px-4 py-5 text-blue-900 border-blue-400 border-l-4 rounded-sm bg-blue-400 bg-opacity-2 shadow;

  & p:not(.admonition-title) {
    @apply my-5;
  }
  & p:last-child {
    @apply mb-0;
  }
  & .headerlink {
    @apply text-current;
  }
}

.seealso {
  @apply p-2 border-none text-gray-light bg-transparent;

  & .admonition-title {
    @apply px-2;
  }

  & a {
    @apply bg-gray-50/40 inline-block p-2 transition-all;
    &.internal:after {
      content: "\2192";
      @apply ml-2 opacity-0 duration-150;
    }
    &:hover {
      color: white !important;
      text-decoration: none !important;
      @apply bg-brand;
      &:after {
        @apply opacity-100;
      }
    }
    & code {
      @apply bg-transparent border-none;
    }
  }
}

.tip,
.hint {
  @apply text-green-900 border-green-400 bg-green-400 bg-opacity-2;
}

.warning,
.danger,
.error {
  @apply text-red-900 border-red-400 bg-red-400 bg-opacity-2;
}

.caution,
.important {
  @apply text-yellow-900 border-yellow-400 bg-yellow-400 bg-opacity-2;
}

.admonition-title {
  @apply font-bold tracking-wide mb-4 mt-0;
}

details.topic.tests {
  @apply text-sm my-5 px-4 py-5 text-green-900 border-green-400 border-l-4 rounded-sm bg-green-400 bg-opacity-2 shadow;

  & summary {
    @apply font-bold tracking-wide mb-0 mt-0;
  }

  & p {
    @apply my-5;
  }
  & p:last-child {
    @apply mb-0;
  }
  & .headerlink {
    @apply text-current;
  }
  & pre {
    @apply mb-0;
  }
}
