/* ******************
 * Some basic styling
 * ******************/

:root {
  --sidebar-width: 300px;
  --fluid-margin: 7.5vw;
  /* sky-500 */
  --color-brand: rgb(14, 165, 233);
  /* sky-700 */
  --color-link: rgb(3, 105, 161);
}

@layer base {
  /* this ought to be part of the normalizer */
  input,
  button {
    @apply rounded-none appearance-none;
  }

  main {
    & section,
    & footer {
      @apply max-w-prose;
    }
    @apply scroll-pt-14;
  }

  /*section > section {
    @apply py-5 print:py-0;
  }*/

  section > p {
    @apply my-5;
  }

  hr {
    @apply mb-12 border-t;
  }

  strong {
    @apply font-medium;
  }

  svg {
    @apply inline;
  }

  h1 {
    @apply mt-20 print:mt-0 text-gray-dark tracking-tight text-3xl font-extralight;
  }

  h2 {
    @apply mt-5 text-gray-dark tracking-tight leading-6 text-xl sm:text-2xl font-extralight;
  }

  h3 {
    @apply text-gray-dark text-lg font-extralight;
  }

  h4 {
    @apply text-gray-dark font-bold;
  }

  summary {
    cursor: pointer;
  }
}

@layer utilities {
  .lead {
    @apply text-gray-dark mt-5 mb-15 text-m;
  }
  .centered {
    @apply text-center;
  }
  p.rubric {
    @apply text-gray-dark font-medium mt-10 mb-0;
  }
}
