/* **************************
 * FIGURES / IMAGES
 * **************************/

/* images inside a `figure` directive */
figure {
  @apply my-12;
  & .legend {
    @apply text-sm text-gray-light border-b pb-8;
    & p {
      @apply my-5;
    }
  }
  & img {
    @apply inline-block;
  }
}

/* images inserted with the `image` directive */
main {
  & :not(figure) > img {
    @apply my-12;
  }
}

figcaption {
  @apply text-sm text-gray-light mt-4 tracking-wide leading-tight;
}

/* aligned things */
.align-center {
  @apply text-center mx-auto;
}

.align-right {
  @apply text-right ml-auto;
}
