/* ****************
 * Styles for links
 * ****************/

@custom-selector :--headerlinkable
  h1,
  h2,
  h3,
  h4,
  table,
  .admonition-title,
  figure,
  dt,
  .code-header;

.headerlink {
  font-size: 1em;
  line-height: 1.2em;
  vertical-align: middle;
  @apply ml-1 hover:text-brand focus:text-brand;
  & > * {
    height: 1em;
    @apply invisible fill-current;
  }
  &:focus > * {
    @apply visible;
  }
}

h1,
h2,
h3 {
  & .headerlink {
    @apply text-gray-400 hover:text-brand focus:text-brand;
  }
}

h1 .headerlink {
  font-size: 0.65em;
  line-height: 1.2;
}

h2 .headerlink {
  font-size: 0.75em;
  line-height: 1.2;
}

/* tweak style in code headers */
.code-header .headerlink {
  @apply mr-2;
}

:--headerlinkable:hover .headerlink {
  @apply visible;
  & > * {
    @apply visible;
  }
}

p:not(.admonition-title),
.search {
  & a {
    @apply text-link hover:text-brand focus:text-brand;
  }
}

ul.search {
  @apply list-none pl-0;
}

.search {
  & li {
    @apply border-t my-5 py-5 pl-0;
    & a {
      @apply text-lg;
    }
  }
  & .context {
    @apply text-sm text-gray-800;
  }
}

.highlighted {
  @apply py-px bg-yellow-100 font-medium;
}

.highlight-link {
  @apply hidden;
}

article p a {
  @apply hover:underline focus:underline;
}

.footnote-reference {
  vertical-align: super;
  @apply text-xs;
}

.external-link-icon {
  height: 0.875rem;
  margin-bottom: 2px;
  @apply ml-px fill-current;
}

.viewcode-link {
  @apply text-link hover:text-brand focus:text-brand ml-4;
}

.viewcode-back {
  @apply text-link hover:text-brand focus:text-brand absolute right-4;
}
