/* ****************
 * Styles for lists
 * ****************/

@layer base {
  article {
    & ol {
      @apply list-decimal my-5 pl-5;
      & ol {
        @apply list-latin my-5 pl-5;
      }
      & li {
        @apply pl-1;
        &::marker {
          @apply font-medium text-gray-dark;
        }
        /*& p {
          @apply my-2;
        }*/
        & ul {
          @apply my-0;
        }
        & ol {
          @apply my-0;
        }
      }
    }
    & ul {
      @apply list-disc my-5 pl-5;
      & li {
        @apply pl-1 print:my-0;
        &::marker {
          @apply text-gray-light;
        }
        /*& p {
          @apply my-2;
        }*/
        & ul {
          @apply my-0;
        }
        & ol {
          @apply my-0;
        }
      }
    }
    & dt {
      @apply font-medium mt-5;
    }
    & dd {
      @apply pl-5;
      & p {
        @apply my-5;
      }
      & p:first-child {
        @apply my-0;
      }
    }
  }
}

dl.footnote {
  @apply text-sm grid;
  grid-template-columns: max-content auto;
  & dt {
    @apply text-link;
  }
  & span.brackets {
    &:before {
      content: "[";
    }
    &:after {
      content: "]";
    }
  }
}
