/* ********************************************************
 * Styles for various navigation menus / tables of contents
 * ********************************************************/

/* For displaying on-site elements
 * Note: `.contents` is a Tailwind class (display: contents)
 *       that's why we set `block` here explicitly.
 */
.contents.local {
  @apply mt-10 pb-10 border-b block print:hidden;
  & .topic-title {
    @apply uppercase text-sm font-medium text-gray-light mt-0 mb-5 font-mono;
  }
  & ul {
    @apply pt-5 list-none my-0 pl-0;
    & ul {
      @apply ml-4;
    }
  }
  & li {
    @apply py-5 pl-0 my-0;
    & p {
      @apply my-0;
    }
  }
  & a {
    @apply block text-gray-light hover:text-gray-dark focus:text-gray-dark;
  }
}

/* The side bar */
.nav-toc {
  & .caption {
    @apply text-m font-medium text-gray-400 pt-10 pb-5;
  }
  & p:first-of-type {
    @apply pt-5;
  }
  & > ul:first-child {
    @apply pt-5;
  }
  & .expand {
    height: 1.2rem;
    margin-left: -0.4rem;
    @apply inline fill-current cursor-pointer select-none hover:text-brand focus:text-brand transition-transform transform duration-150 ease-out;
  }
  & li > ul {
    @apply pl-4 overflow-y-hidden max-h-0;
  }
  & .expanded {
    & > div > .expand {
      @apply rotate-90;
    }
    & > ul {
      @apply max-h-full;
      & a.current {
        @apply text-brand;
      }
    }
  }
  & a {
    @apply text-gray-400 hover:text-brand focus:text-brand;
    &.current {
      @apply text-gray-100 font-bold;
    }
  }
  & ul + ul {
    @apply mt-10;
  }
  :not(pre) > code {
    @apply bg-gray-800 border-gray-600;
  }
}

/* The `.. toctree::` (if not used with `:hidden:`) */
.toctree-wrapper {
  & .caption {
    @apply text-lg font-medium pt-10;
  }
  @apply my-10 border-t;
  & li li {
    @apply pl-4;
  }
  & a {
    @apply block text-link hover:text-brand focus:text-brand;
  }
}

.nav-link {
  @apply text-sm py-1;
}
